
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Add styles made with Mapbox Studio using styleLayer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:16%; bottom:0; width:100%; }
      .my-icon {
          background: #3ca0d3;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          color: white;
      }
  </style>
</head>
<body>
<!--<div id='map'></div>-->

<%= yield %>
</body>
</html>