<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="clear">Clear</button>
      <button class="center">Center</button>
    </div>
    <table>
      <tr>
        <th>
          Amenity
        </th>
        <th>
          Diameter distance(m)
        </th>
        <th>
        </th>
      </tr>
      <tr>
        <td>
          <%= select_tag 'amenity', options_for_select(get_amenities(@db_con)), class: 'form-control' %>
        </td>
        <td>
          <%= text_field_tag 'distance', nil, class: 'form-control' %>
        </td>
        <td>
          <button class="amenity">Type</button>
        </td>
      </tr>
    </table>
    <div class="col-md-1">

    </div>
  </div>
</div>

<div class='container' id='map'></div>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibWlrZTU1NTEiLCJhIjoiY2l2NnozdnR5MDAwMTJ6cGoyaWthdWpqayJ9.bknUce053UYkW8wNtcvLdg';
    var map = L.mapbox.map('map')
            .setView([48.1578, 17.1153], 14);

    L.mapbox.styleLayer('mapbox://styles/mapbox/emerald-v8').addTo(map);
    var myLayer = L.mapbox.featureLayer().addTo(map);

    center_marker = L.marker(new L.LatLng(48.1578, 17.1153), {
        draggable: true
            }).addTo(map);

    var geoJSONs = [];
    var center = {
            "type": "Feature",
            "geometry": {
                "type":"Point",
                "coordinates":[17.0688070566957,48.1479875068404]}};

    get_json = function(url){
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function(geojson){
                console.log(url);
                if(geojson == null)
                    return;
                console.log(geojson.length);
                for(var i=0; i<geojson.length; i++) {
                    geoJSONs[i] = L.mapbox.featureLayer().setGeoJSON(geojson[i]).addTo(map);
                }
            }
        });
    };

    pubs = function(id){
        get_json('/map/pubs/'+id);
    };

    pubs_way = function(id){
        get_json('/map/pubs_way/'+id)
    };


    get_object = function(id, type){
        get_json('/map/'+ type + '/' + id)
    };

    get_geometry = function(coordinates){
        console.log(coordinates);
        get_json('/map/geometry/'+coordinates);
    };

    get_within = function(type, within){
        var lng = String(center_marker._latlng.lng).replace(".","_");
        var lat = String(center_marker._latlng.lat).replace(".","_");
        console.log(lat+'+'+lng);
        get_json('/map/within/'+type+'/'+within+'/'+lat+'+'+lng)
    };


    $('.pub').click(function(e){
        //logic
        var pub_id = $('#pubs')[0].value;
        console.log(pub_id);
        pubs(pub_id);
        return false;
    });
    $('.restaurant').click(function(e){
        //logic
        var id = $('#restaurants')[0].value;
        console.log(id);
        get_object(id, 'restaurant');
        return false;
    });
    $('.clear').click(function(e){
        for(var i=0; i<geoJSONs.length; i++) {
            geoJSONs[i].clearLayers();
        }
    });
    $('.amenity').click(function(e){
        get_within($('#amenity')[0].value, $('#distance')[0].value)
    });
    $('.center').click(function(e){
        console.log(center_marker);
//        var lat = center_marker._latlng.lat.replace(".","_");
//        var lat = center_marker._latlng.lat;
        var lng = String(center_marker._latlng.lng).replace(".","_");
        var lat = String(center_marker._latlng.lat).replace(".","_");
        console.log(lat);
        console.log(lng);
        get_geometry(lat+'+'+lng);
    });

    map.on('click', function (e) {
        var features = map.queryRenderedFeatures(e.point);

        if (!features.length) {
            return;
        }

        var feature = features[0];

        // Populate the popup and set its coordinates
        // based on the feature found.
        var popup = new mapboxgl.Popup()
                .setLngLat(feature.geometry.coordinates)
                .setHTML(feature.properties.description)
                .addTo(map);
    });


</script>